:root {
  --theme-bg: initial; // 背景色
  --theme-hover-bg: initial; // hover背景色
  --theme-color: initial; // 字体色
  --theme-hover-color: initial; // hover字体色
  --theme-active-color: initial; // 激活状态的字体色
  --theme-border-color: initial; // 边框色
}
