.el-menu {
  --el-menu-bg-color: #{$Bg};
  --el-menu-text-color: #{$Color};
  --el-menu-active-color: #{$AColor};
  --el-menu-hover-bg-color: #{$HBg};
  --el-bg-color-overlay: #{$HBg};
  --el-menu-hover-text-color: #{$HColor};
}
