$danger: #ff6464;
$primary: #39fff2;
$warning: #c7a85b;
$blue: #5eb5ff;
$info: #dcdfe6;

$Bg: var(--theme-bg);
$HBg: var(--theme-hover-bg);
$Color: var(--theme-color);
$HColor: var(--theme-hover-color);
$AColor: var(--theme-active-color);
$Border: var(--theme-border-color);
